<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
      <li class = "nav-item">
          <a routerLink="movements" routerLinkActive="active" class="nav-link" >Movement List</a>
      </li>
      <li class = "nav-item">
        <a routerLink="population" routerLinkActive="active" class="nav-link" >Population List</a>
    </li>
      <li class = "nav-item">
          <a routerLink="create_movement" routerLinkActive="active" class="nav-link" >Add Movement</a>
      </li>
  </ul>
</nav>

<h1 class="text-center"> RABApp Task </h1>
<div class = "container">
  <router-outlet></router-outlet>
</div>
<footer class = "footer">
  <div class = "container">
      <span>All Rights Reserved 2023 @Neha Kale</span>
  </div>
</footer>